[user]
	name = Wen Sun
	email = iwendellsun@gmail.com
	signingkey = C1231D5B4615398A
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
[tag]
	gpgsign = true

# git-delta config
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    syntax-theme = Solarized (dark)
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
